<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold ms-5" routerLink="/">SHOP</a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div
      class="collapse navbar-collapse me-5"
      [class.show]="showNavbar()"
      id="navbarSupportedContent"
    >
      <ng-container *ngTemplateOutlet="navbarContent"></ng-container>
    </div>
  </div>
</nav>

<!-- Shared Content -->
<ng-template #navbarContent>
  <!-- Links -->
  <ul class="navbar-nav ms-auto mb-3 mb-lg-0 text-start">
    <li class="nav-item">
      <a
        class="nav-link fw-bold rounded-3"
        routerLink="/products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true, queryParams: 'exact' }"
      >
        Products
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-bold rounded-3"
        routerLink="/categories"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true, queryParams: 'exact' }"
      >
        Categories
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bold mx-lg-3 rounded-3" href="#">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link fw-bold rounded-3" href="#">Contact</a>
    </li>
  </ul>

  <ul
    class="navbar-nav d-flex flex-column flex-lg-row align-items-start align-items-lg-center gap-3 ms-lg-4"
  >
    <!-- Cart -->
    <li class="nav-item">
      <a
        class="position-relative d-inline-flex align-items-center"
        routerLink="/cart"
        routerLinkActive="active-cart"
      >
        <fa-icon [icon]="faCartShopping" size="2x" class="cart-icon"></fa-icon>

        @if (cartCount() > 0) {
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ cartCount() }}
          </span>
        }
      </a>
    </li>

    <!-- User Dropdown -->
    <li class="nav-item dropdown">
      <button
        class="btn btn-outline-primary rounded-circle d-flex align-items-center justify-content-center"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="width: 45px; height: 45px"
      >
        @if (authService.currentUser()) {
          <img
            [src]="authService.currentUser()?.avatar"
            [alt]="authService.currentUser()?.name"
            class="w-100 h-100 object-fit-cover rounded-circle"
          />
        } @else {
          <fa-icon [icon]="faUser" size="2x"></fa-icon>
        }
      </button>

      <ul class="dropdown-menu dropdown-menu-end">
        @if (authService.isAuthenticated()) {
          <li>
            <button class="dropdown-item" (click)="authService.logout()">Logout</button>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" routerLink="/profile">Profile</a>
          </li>
        } @else {
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li>
            <a class="dropdown-item" routerLink="/register">Register</a>
          </li>
        }
      </ul>
    </li>
  </ul>
</ng-template>
