<section class="table-responsive">
  <table class="table table-hover align-middle border border-2 overflow-hidden shadow-sm w-100">
    <thead class="table-light">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories(); track category.id) {
        <tr
          app-admin-category-row
          [category]="category"
          (deleteInitiated)="openDeleteDialog($event)"
        ></tr>
      } @empty {
        <tr>
          <td colspan="5" class="text-center py-5">
            <div class="d-flex flex-column align-items-center gap-2 text-muted">
              <i class="bi bi-inbox fs-1"></i>
              <h6 class="mb-0">No categories available</h6>
              <small class="text-secondary">
                There are currently no categoriess in this list.
              </small>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
@if (showModal()) {
  <app-confirm-dialog
    [modalData]="dialogData()"
    (cancelled)="closeDialog()"
    (confirmed)="deleteCategory()"
  ></app-confirm-dialog>
}
