<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow border-0 rounded-4">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">{{ id() ? 'Edit Category' : 'Create Category' }}</h2>

          <!-- IMAGE PREVIEW -->
          <div class="mb-4">
            @if (categoryForm.preview().value() || categoryForm.image().value()) {
              <div
                class="position-relative border rounded overflow-hidden bg-light"
                style="height: 300px"
              >
                <img
                  [src]="
                    categoryForm.preview().value()
                      ? categoryForm.preview().value()
                      : categoryForm.image().value()
                  "
                  class="w-100 h-100"
                  style="object-fit: contain"
                  crossorigin="anonymous"
                />

                <button
                  type="button"
                  class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2"
                  (click)="removeImage()"
                >
                  X
                </button>
              </div>
            } @else {
              <div
                class="border rounded bg-light d-flex justify-content-center align-items-center text-muted"
                style="height: 300px"
              >
                No Image Selected
              </div>
            }
          </div>
          <!-- UPLOADING -->
          @if (uploading()) {
            <div class="alert alert-info text-center">Uploading image...</div>
          }

          <!-- FILE INPUT -->
          <div class="mb-4 form-group">
            <label class="mb-2 fw-bold">Image</label>
            <input
              #fileInput
              type="file"
              class="form-control"
              accept="image/*"
              (change)="onImageSelected($event)"
              [class.is-valid]="categoryForm.image().valid() && imageTouched() && !uploading()"
              [class.is-invalid]="categoryForm.image().invalid() && imageTouched() && !uploading()"
            />
            @if (imageTouched() && !uploading()) {
              @for (error of categoryForm.image().errors(); track error.kind) {
                <div class="invalid-feedback">
                  {{ error.message }}
                </div>
              }
            }
          </div>

          <!-- NAME -->
          <div class="mb-4 form-group">
            <label class="mb-2 fw-bold">Name</label>

            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Category name"
              [formField]="categoryForm.name"
              [class.is-valid]="formUtils.isValid(categoryForm.name)"
              [class.is-invalid]="formUtils.isInvalid(categoryForm.name)"
            />
            @if (categoryForm.name().touched()) {
              @for (error of categoryForm.name().errors(); track error.kind) {
                <div class="invalid-feedback">
                  {{ error.message }}
                </div>
              }
            }
          </div>

          <!-- SLUG -->
          <div class="mb-4 form-group">
            <label class="mb-2 fw-bold">Slug</label>
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Category slug"
              [formField]="categoryForm.slug"
              [class.is-valid]="formUtils.isValid(categoryForm.slug)"
              [class.is-invalid]="formUtils.isInvalid(categoryForm.slug)"
            />
            @if (categoryForm.slug().touched()) {
              @for (error of categoryForm.name().errors(); track error.kind) {
                <div class="invalid-feedback">
                  {{ error.message }}
                </div>
              }
            }
          </div>

          @if (id()) {
            <!-- EDIT BUTTON -->
            <button
              class="btn btn-primary btn-lg w-100"
              [disabled]="loading() || categoryForm().invalid()"
              (click)="editCategory()"
            >
              @if (loading()) {
                Saving...
              } @else {
                Edit Category
              }
            </button>
          } @else {
            <!-- SAVE BUTTON -->
            <button
              class="btn btn-primary btn-lg w-100"
              [disabled]="loading() || categoryForm().invalid()"
              (click)="saveCategory()"
            >
              @if (loading()) {
                Saving...
              } @else {
                Save Category
              }
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
