<div class="d-flex position-relative">
  <!-- Toggle Button (oben links, nur mobile) -->
  <div class="d-md-none position-absolute">
    <button
      class="navbar-toggler m-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarSupportedContent"
      aria-controls="sidebarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="width: 50px"
    >
      <span class="btn btn-outline-success w-100"> ☰ </span>
    </button>
  </div>

  <!-- Sidebar -->

  <div
    class="collapse navbar-collapse d-md-block p-3 py-3 bg-body-tertiary"
    style="width: 200px; min-height: 90vh"
    id="sidebarSupportedContent"
  >
    <ul class="nav flex-column sidebar ps-3 pt-5">
      <div class="text-uppercase text-muted small fw-bold mb-2">Categories</div>

      <hr class="my-2" />

      <li class="nav-item">
        <a
          class="nav-link text-dark fw-bold"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSupportedContent"
          >Electronics</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark fw-bold"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSupportedContent"
          >Clothes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark fw-bold"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSupportedContent"
          >Shoes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark fw-bold"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSupportedContent"
          >Furniture</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark fw-bold"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarSupportedContent"
          >Others</a
        >
      </li>

      <hr class="my-2" />

      <li class="nav-item">
        <a class="nav-link text-dark fw-bold active" routerLink="/products">Products</a>
      </li>
    </ul>
  </div>
</div>
