<div class="d-flex position-relative w-100">
  <!-- Toggle Button (Mobile) -->
  <div class="d-md-none position-absolute">
    <button
      class="navbar-toggler m-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarSupportedContent"
      aria-controls="sidebarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="width: 50px"
    >
      <span class="btn btn-outline-success w-100"> ☰ </span>
    </button>
  </div>

  <!-- Sidebar -->
  <div class="collapse d-md-block p-3 py-3 sidebar w-100" id="sidebarSupportedContent">
    <ul class="nav flex-column w-100 m-0 p-0 pt-5">
      <!-- Title -->
      <li class="sidebar-title-container">
        <span class="sidebar-title">Categories</span>
      </li>

      <hr class="my-2" />

      <!-- Categories -->
      @for (category of categories(); track category.id) {
        <li class="nav-item w-100">
          <a
            class="nav-link text-dark fw-bold d-block w-100"
            routerLink="/products"
            [queryParams]="{ categorySlug: category.slug }"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true, queryParams: 'exact' }"
            >{{ category.name.split(' ').slice(0, 2).join(' ') }}
          </a>
        </li>
      }

      <!-- Others -->
      <li class="nav-item w-100">
        <a
          class="nav-link text-dark fw-bold d-block w-100 px-3"
          routerLinkActive="active"
          routerLink="/categories"
          [routerLinkActiveOptions]="{ exact: true, queryParams: 'exact' }"
        >
          Others
        </a>
      </li>

      <hr class="my-2" />

      <!-- Products -->
      <li class="nav-item w-100">
        <a
          class="nav-link text-dark fw-bold d-block w-100"
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Products</a
        >
      </li>
    </ul>
  </div>
</div>
