<h2 class="text-center mb-4">Sign In</h2>

<div class="mb-3">
  <label for="email" class="form-label"> Email Address </label>

  <input
    id="email"
    type="email"
    class="form-control"
    placeholder="Enter your email"
    autocomplete="email"
    [formField]="loginForm.email"
    [class.is-valid]="formUtils.isValid(loginForm.email)"
    [class.is-invalid]="formUtils.isInvalid(loginForm.email)"
  />
  @if (loginForm.email().touched() && loginForm.email().invalid()) {
    @for (error of loginForm.email().errors(); track error.kind) {
      <div class="invalid-feedback">
        {{ error.message }}
      </div>
    }
  }
</div>

<div class="mb-3">
  <label for="password" class="form-label"> Password </label>

  <input
    id="password"
    type="password"
    class="form-control"
    placeholder="Enter your password"
    autocomplete="current-password"
    [formField]="loginForm.password"
    [class.is-valid]="formUtils.isValid(loginForm.password)"
    [class.is-invalid]="formUtils.isInvalid(loginForm.password)"
  />
  @if (loginForm.password().touched() && loginForm.password().invalid()) {
    @for (error of loginForm.password().errors(); track error.kind) {
      <div class="invalid-feedback">
        {{ error.message }}
      </div>
    }
  }
</div>

<div class="form-check mb-4">
  <input class="form-check-input" type="checkbox" id="rememberMe" />

  <label class="form-check-label" for="rememberMe"> Remember me </label>
</div>

<button
  type="submit"
  class="btn btn-primary w-100"
  [disabled]="loginForm().invalid()"
  (click)="login()"
>
  Sign In
</button>

<hr />

<p class="text-center mb-0">
  Don't have an account?
  <a routerLink="/auth/register" class="text-decoration-none"> Create one </a>
</p>
