<div class="card shadow-sm p-3 m-2 position-relative">
  <!-- Buttons -->
  <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
    <button
      class="btn btn-sm btn-outline-primary"
      [routerLink]="['/admin/categories', category().id, 'edit']"
    >
      <fa-icon [icon]="faEdit"></fa-icon>
      <span class="ms-1">Edit</span>
    </button>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-sm btn-outline-danger"
      (click)="initiateDelete(category())"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      <span class="ms-1">Delete</span>
    </button>
  </div>

  <!-- Content -->
  <div class="d-flex align-items-center flex-wrap">
    <img
      [src]="category().image"
      class="category-image rounded d-none d-sm-block"
      alt="Categorytbild"
      crossorigin="anonymous"
    />

    <div class="flex-grow-1 px-3 px-lg-5">
      <h5 class="mb-1 fw-semibold">{{ category().name }}</h5>
    </div>
  </div>
</div>
